*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: #4a4e69;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav{
    padding: 1.5rem;
    background-color: #2a2b44;
    background-color: #4a4e69;
    background-color: #22223b;

}

.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav h1{
    color: white;
    text-align: center;
}

.main-section{
    display: flex;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #4a4e69;
    gap: 2rem;
    margin: 2rem 0;

    
}

a{
    text-decoration: none;
    color: white;
}

.git{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.git i {
    margin: 0px 20px;
    
}

.main-section a{
  
}


.card-desc{
    background-color: #2a2b44;
    color: white;
    
    
    border-radius: 1rem;
    overflow: hidden;
}

.card-name{
    margin: 1rem;
    
}



